* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.sora-uniquifier {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-size: 2.488rem;
}

h3 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 2.074rem;
}

p {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #525a7a;
}

.boton {
  color: white;
  background-color: #1c7ed6;
  border: none;
  padding: 15px 32px;
  font-size: 18px;
  border-radius: 10px;
}
.boton:hover {
  background-color: #00afff;
}

.menu-container {
  color: aqua;
}
.menu-container .container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 18px;
  list-style: none;
  margin-left: -30px;
}
.menu-container .container ul li {
  border: 2px solid #dbe4ff;
  border-radius: 8px;
  text-align: center;
}
.menu-container .container ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}
.menu-container .container ul li:hover {
  background-color: #d0ebff;
}

.presentacion {
  text-align: center;
  margin: 30px 8px;
}
.presentacion h3 {
  color: #5c7cfa;
}

header {
  border-bottom: 1px solid #f8f9fa;
  background-color: white;
  width: 100%;
}
header .dato-container {
  background-color: #b3d300;
  padding: 10px 0px;
  text-align: center;
  height: 2.5rem;
  font-family: "Sora", sans-serif;
  font-weight: 700;
}
header .dato-container p {
  color: #26292e;
}

.portada-container {
  width: 100%;
  background-color: #e6f4f1;
}
.portada-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}
.portada-container .container .box {
  padding: 8px;
}
.portada-container .container .box h1 {
  color: #daa21b;
  font-size: 2.5rem;
  font-weight: 700;
}
.portada-container .container .box p {
  color: rgb #404756;
}
.portada-container .container .box img {
  max-width: 100%;
}

.beneficios-container {
  width: 100%;
  margin-top: 2rem;
}
.beneficios-container .container {
  background-color: #daa21b;
  padding: 3rem 3rem;
  border-radius: 15px;
}
.beneficios-container .container .row {
  justify-content: center;
  text-align: center;
}
.beneficios-container .container .row .col-sm img {
  width: 4rem;
  margin: 4px;
  border-radius: 100px;
  margin: 30px 0px 20px 0px;
}
.beneficios-container .container .row .col-sm h4 {
  font-size: 1.3rem;
  color: #e6f4f1;
  font-weight: 700;
}
.beneficios-container .container .row .col-sm p {
  font-size: 14px;
  color: #dde9e6;
}

.productos-container {
  background-color: rgb(253, 253, 253);
  padding: 20px 10px;
}
.productos-container .container {
  text-align: center;
  justify-content: center;
  padding: 10px 8px;
}
.productos-container .container h3 {
  color: #1c7ed6;
}
.productos-container .container p {
  color: #15142E;
}
.productos-container .container .row .card {
  margin-top: 30px;
}
.productos-container .container .row .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.productos-container .container .row .card .card-body h6 {
  color: #15142E;
  font-size: 14px;
  font-weight: 400;
}
.productos-container .container .row .card .card-body p {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.productos-container .container .row .card .card-body a {
  color: #1c7ed6;
  font-size: 14px;
  font-weight: 500;
}
.productos-container .container .row .card .card-body a:hover {
  background-color: #1c7ed6;
  font-weight: 700;
  border: none;
  color: #ffffff;
}

.animales-container {
  background-color: #3e90ea;
}
.animales-container .container {
  padding: 0px 8px;
}
.animales-container .container .row {
  align-items: center;
}
.animales-container .container .row .col-12,
.animales-container .container .row .col-md-6 {
  align-content: flex-end;
  text-align: center;
}
.animales-container .container .row .col-12 h3,
.animales-container .container .row .col-md-6 h3 {
  padding-top: 15px;
  color: #e6f4f1;
  font-size: 2.4rem;
}
.animales-container .container .row .col-12 p,
.animales-container .container .row .col-md-6 p {
  color: #e6f4f1;
}
.animales-container .container .row .col-12 a img,
.animales-container .container .row .col-md-6 a img {
  max-width: 70%;
  height: 0%;
}

.pelu-container {
  width: 100%;
  background-color: white;
  justify-content: center;
  margin: 40px 10px;
}
.pelu-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 20px;
  padding: 18px;
  background-color: #e6f4f1;
}
.pelu-container .container .box {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 500;
}
.pelu-container .container .box h3 {
  font-size: 2rem;
  color: #1c7ed6;
  font-weight: 700;
}
.pelu-container .container .box p {
  font-size: 1rem;
  color: #339af0;
  font-weight: 700;
}
.pelu-container .container .box ul {
  color: #275e8f;
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.pelu-container .container .box img {
  max-width: 100%;
}

.pie-pagina {
  width: 100%;
  background-color: #1c7ed6;
}
.pie-pagina .grupo-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;
  padding: 30px 24px;
}
.pie-pagina .grupo-1 .box img {
  max-width: 35%;
  padding-bottom: 18px;
}
.pie-pagina .grupo-1 .box h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}
.pie-pagina .grupo-1 .box p {
  font-size: 0.9rem;
  color: #e6f4f1;
  margin-bottom: 8px;
}
.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #e6f4f1;
  margin-right: 6px;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
  transform: scale(1.6);
}
.pie-pagina .grupo-1 .box-t h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}
.pie-pagina .grupo-1 .box-t a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  color: #e6f4f1;
  margin-bottom: 8px;
}
.pie-pagina .grupo-1 .box-t a:hover {
  color: #003581;
}
.pie-pagina .grupo-2 {
  background-color: #003581;
  padding: 15px 10px;
  text-align: center;
}
.pie-pagina .grupo-2 p {
  font-size: 12px;
  color: #e6f4f1;
}

.principal-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container {
  width: 20rem;
  border: 1px solid gold;
  border-radius: 10px;
  padding: 10px;
  background-color: #daa21b;
}
.card-container .card {
  display: flex;
  align-items: center;
}
.card-container .card h4 {
  color: #daa21b;
}
.card-container .card p {
  color: aqua;
  padding: 10;
}

.menu-conten {
  display: grid;
  font-size: 30px;
  text-align: center;
  background-color: aqua;
}
.menu-conten .box {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}
.menu-conten .box a {
  color: rgb(209, 24, 24);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .portada-container {
    background-color: white;
  }
  .portada-container .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
  }
  .portada-container .container .box h1 {
    font-size: 3.2rem;
  }
  .pelu-container {
    margin: 40px 0px;
  }
  .pelu-container .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 2rem 0rem 2rem;
  }
  .pelu-container .container .box h3 {
    font-size: 2.5rem;
  }
  .pie-pagina .grupo-1 {
    grid-template-columns: 210px auto auto auto;
    justify-content: center;
    column-gap: 10%;
  }
  .pie-pagina .grupo-1 .box img {
    max-width: 40%;
  }
  .menu-container .container ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
