*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{color: #f749da;}
/* beneficios-container */
.beneficios-container{
   background-color: rgb(245, 223, 250); 
   padding:3rem 0rem 3rem 0rem;
}
.beneficios-container .col-sm img{
    width: 6rem;
    margin: 4px;
    border-radius: 100px;
    margin:30px 0px 20px 0px;

}
/* productos-container */
.productos-container{
    width: 100%;
    background-color: rgb(248, 248, 248);
}
.productos-container .container h3{
    text-align: center;
    padding: 50px 0px 30px 0px;
    color: hsl(245, 26%, 25%);
}
.productos-container .container .row{
    text-align: left;
    padding: 30px 0px 40px 0px;
}
.productos-container .card{
 background-color:white;
box-shadow: #b1b1b1;
}
.productos-container .card .card-body{
text-align: center;
}
.productos-container .card .card-body a{
    background-color: #f749da;
}
/* sección perros y gatos -enlace */
/* animales-container */
 .animales-container{
    width: 100%; 
    background-color: #d1861d
 }

 .animales-container .container{
    padding: 30px 0px 40px 0px;;
 }
 .animales-container .container h3{
    color: #fdfdfd;
    padding: 10px 0px 30px 0px;
    text-align: center;
 }
 .animales-container .container .row img{
    border-radius: 12px;
    margin-top: 20px;
    max-width: 100%;

 } 


/* sección video peluqueria */
.peluqueria-container{
    width: 100%;
    background-color: rgb(240, 248, 252);
}
   .peluqueria-container .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    padding: 20px ;
}
.peluqueria-container .grupo-1 .box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}
.peluqueria-container .grupo-1 .box iframe {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}
.peluqueria-container .grupo-1 .box h3{
    text-align: left;
    color: hsl(245, 26%, 25%);
}

/* Pie de pagina */
.pie-pagina{
    width: 100%;
    background-color: rgb(196, 196, 255);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box{
padding-top: 15px;

}
.pie-pagina .grupo-1 .box figure{
     width: 100px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
    }
.pie-pagina .grupo-1 .box h4{
     color: rgb(25, 25, 31);
     margin-bottom: 20px;
     font-size: 18px;
    }
.pie-pagina .grupo-1 .box p{
     color: rgb(55, 55, 85);
     margin-bottom: 8px;
     }
.pie-pagina .grupo-1 .red-social a{
     display: inline-block;
     text-decoration: none;
     width: 45px;
     height: 45px;
     line-height: 45px;
     color: rgb(21, 65, 104);
     margin-right: 6px;
     text-align: center;
     transition: all 300ms ease;
    }
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(9, 121, 226);
}
.pie-pagina .grupo-2{
     background-color: rgb(20, 20, 31);
     padding: 15px 10px;
     text-align:center;
     color:white;
     }
.pie-pagina .grupo-2 p{
     font-size: 12px;
    }



/* mobile */
@media only screen and (max-width:576px) {
    body{
        background-color: aquamarine;
    }

 /* sección perros y gatos -enlace */
/* animales-container */

.animales-container .container .row img{
    width: 90%;
}
 /* peluqueria-container */
 
  .peluqueria-container .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
     }
 .peluqueria-container .box{
    padding-top: 35px;
   
    }
 .peluqueria-container .box iframe {
        width: 400px;
        height: 200px;
    }
  /* productos-container */
    .productos-container .card{
    width: 16rem;
    margin: 4px;}

 /* Pie de pagina */
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        padding: 35px 0px; 
    }
}
/* Tablet */
@media only screen and (min-width:577px) and (max-width:768px){
    body{
        background-color: black;

    }
    .productos-container .card{
        width: 17rem;
        margin: 1rem;}
}

/* Tablet -medio */
@media only screen and (min-width:769px) and (max-width:992px){
    body{
        background-color: rgb(152, 201, 87);

    }

   /* productos-container */
    .productos-container .card{
        width: 11rem;
        margin: 8px;}
}       
/* Desktop */
@media only screen and (min-width:993px) and (max-width:1200px){
    body{
        background-color: rgb(151, 89, 89);

    }
   /* productos-container */
   .productos-container .card{
    width: 15rem;
    margin: 1rem;}
}
/* Desktop extra grande */
@media only screen and (min-width:1201px) {
    body{
        background-color: blueviolet;
    }
  /* productos-container */ 
  .productos-container .card{
    width: 17rem;
    margin: 1rem;}
}

