@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.sora-uniquifier {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

p {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #64748B;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: white;
  border-radius: 55px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: white;
}

.boton {
  color: white;
  background-color: #1c7ed6;
  border: none;
  padding: 15px 32px;
  font-size: 18px;
  border-radius: 5px;
  transition: 1s;
  cursor: pointer;
}
.boton:hover {
  background-color: #00afff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.boton-1 {
  text-align: center;
  justify-content: center;
  color: #1c7ed6;
  border: 1px solid rgb(214, 214, 214);
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 100px;
  background: white;
  transition: 1s;
  cursor: pointer;
}
.boton-1:hover {
  color: white;
  background-color: #00afff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.menu-container {
  background: #f8fcff;
  padding-bottom: 20px;
  color: rgb(211, 233, 233);
}
.menu-container .container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 18px;
  column-gap: 16px;
  row-gap: 8px;
  list-style: none;
  margin-left: -30px;
}
.menu-container .container ul li {
  border: 2px solid #dbe4ff;
  border-radius: 8px;
  text-align: center;
}
.menu-container .container ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}
.menu-container .container ul li:hover {
  color: white;
  background: #dbe4ff;
  border: 2px solid #1c7ed6;
}

.presentacion {
  text-align: center;
  padding: 50px 16px;
}
.presentacion h3 {
  color: #1c7ed6;
}
.presentacion p {
  font-size: 14px;
}

header {
  border-bottom: 1px solid #f8f9fa;
  background-color: white;
  width: 100%;
}
header .dato-container {
  background-color: #b3d300;
  padding: 10px 0px;
  text-align: center;
  height: 2.5rem;
  font-family: "Sora", sans-serif;
  font-weight: 700;
}
header .dato-container p {
  color: #26292e;
  text-align: center;
}
header .dato-container i {
  background-color: aqua;
  font-size: 22px;
  border: 1px solid #6e6e79;
}
header .navbar .nav-item:hover {
  border-bottom: 2px solid #1c7ed6;
}
header .navbar .color-gris {
  color: #6e6e79;
}
header .navbar .color-active {
  color: #1c7ed6;
}
header .navbar .carrito {
  display: none;
}

.portada-container {
  width: 100%;
  background-color: #e6f4f1;
}
.portada-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px 8px;
}
.portada-container .container .box {
  padding: 8px;
}
.portada-container .container .box h1 {
  color: #daa21b;
  font-size: 2.1rem;
  font-weight: 400;
}
.portada-container .container .box h5 {
  font-size: 14px;
  font-weight: 400;
}
.portada-container .container .box p {
  color: rgb #404756;
}
.portada-container .container .box img {
  max-width: 100%;
}

.beneficios-container {
  width: 100%;
  margin-top: 2rem;
}
.beneficios-container .container {
  padding: 1rem 1rem;
}
.beneficios-container .container .row {
  justify-content: center;
  text-align: center;
}
.beneficios-container .container .row .col-sm {
  background-color: #daa21b;
  border-radius: 15px;
  margin: 4px;
}
.beneficios-container .container .row .col-sm img {
  width: 4rem;
  margin: 4px;
  border-radius: 100px;
  margin: 30px 0px 20px 0px;
}
.beneficios-container .container .row .col-sm h4 {
  font-size: 1.3rem;
  color: #e6f4f1;
  font-weight: 700;
}
.beneficios-container .container .row .col-sm p {
  font-size: 14px;
  color: #dde9e6;
}

.productos-container {
  background-color: rgb(253, 253, 253);
  padding: 40px 8px;
}
.productos-container .container {
  text-align: center;
  justify-content: center;
  padding: 20px 8px;
}
.productos-container .container h2 {
  color: #1c7ed6;
}
.productos-container .container p {
  color: #15142E;
}
.productos-container .container .row .card {
  margin-top: 30px;
}
.productos-container .container .row .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.productos-container .container .row .card .card-body h6 {
  color: #15142E;
  font-size: 14px;
  font-weight: 400;
}
.productos-container .container .row .card .card-body p {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.productos-container .container .row .card .card-body a {
  color: #1c7ed6;
  font-size: 14px;
  font-weight: 500;
}
.productos-container .container .row .card .card-body a:hover {
  background-color: #1c7ed6;
  font-weight: 700;
  border: none;
  color: #ffffff;
}

.animales-container {
  background-color: #3e90ea;
}
.animales-container .container {
  padding: 0px 8px;
}
.animales-container .container .row {
  align-items: center;
}
.animales-container .container .row .col-12,
.animales-container .container .row .col-md-6 {
  align-content: flex-end;
  text-align: center;
}
.animales-container .container .row .col-12 h2,
.animales-container .container .row .col-md-6 h2 {
  padding-top: 15px;
  color: #e6f4f1;
}
.animales-container .container .row .col-12 p,
.animales-container .container .row .col-md-6 p {
  color: #e6f4f1;
}
.animales-container .container .row .col-12 a img,
.animales-container .container .row .col-md-6 a img {
  max-width: 70%;
  height: 0%;
}

.pelu-container {
  width: 100%;
  background-color: white;
  justify-content: center;
  margin: 40px 0px;
}
.pelu-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 20px;
  padding: 24px;
  background-color: #e6f4f1;
}
.pelu-container .container .box {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 500;
}
.pelu-container .container .box h2 {
  color: #1c7ed6;
}
.pelu-container .container .box p {
  font-size: 1rem;
  color: #339af0;
  font-weight: 700;
}
.pelu-container .container .box ul {
  color: #275e8f;
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.pelu-container .container .box ul li {
  line-height: 2;
}
.pelu-container .container .box img {
  max-width: 100%;
}

.pie-pagina {
  width: 100%;
  background-color: #1c7ed6;
}
.pie-pagina .grupo-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;
  padding: 30px 24px;
  line-height: 20px;
}
.pie-pagina .grupo-1 .box img {
  max-width: 35%;
  padding-bottom: 18px;
}
.pie-pagina .grupo-1 .box h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}
.pie-pagina .grupo-1 .box p {
  font-size: 13px;
  color: #e6f4f1;
  margin-bottom: 8px;
}
.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #e6f4f1;
  margin-right: 6px;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
  transform: scale(1.6);
}
.pie-pagina .grupo-1 .box-t h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 700;
}
.pie-pagina .grupo-1 .box-t a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  color: #e6f4f1;
  margin-bottom: 8px;
}
.pie-pagina .grupo-1 .box-t a:hover {
  color: #003581;
}
.pie-pagina .grupo-2 {
  background-color: #003581;
  padding: 15px 10px;
  text-align: center;
}
.pie-pagina .grupo-2 p {
  font-size: 12px;
  color: #e6f4f1;
}

.principal-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container {
  width: 20rem;
  border: 1px solid gold;
  border-radius: 10px;
  padding: 10px;
  background-color: #daa21b;
}
.card-container .card {
  display: flex;
  align-items: center;
}
.card-container .card h4 {
  color: #daa21b;
}
.card-container .card p {
  color: aqua;
  padding: 10;
}

.menu-conten {
  display: grid;
  font-size: 30px;
  text-align: center;
  background-color: aqua;
}
.menu-conten .box {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}
.menu-conten .box a {
  color: rgb(209, 24, 24);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.presentacion {
  background-color: #f8fcff;
}

.baños-container {
  background-color: #f8fcff;
  padding: 0px 8px;
}
.baños-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}
.baños-container .container .box {
  display: grid;
  align-content: end;
  justify-content: center;
}
.baños-container .container .box img {
  max-width: 100%;
  height: auto;
}
.baños-container .container .box ul {
  list-style: none;
  color: #1c7ed6;
  font-size: 16px;
}
.baños-container .container .box ul li {
  line-height: 2.3;
}
.baños-container .container .box ul i {
  margin-right: 10px;
}

.tamaños-container {
  background-color: #f8fcff;
  padding: 40px 8px;
}
.tamaños-container h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.6em;
  color: #525a7a;
}
.tamaños-container .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 18px;
}
.tamaños-container .container .box {
  border: 2px solid #e7f5ff;
  border-radius: 18px;
  background-color: white;
  justify-content: center;
  text-align: center;
}
.tamaños-container .container .box img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0px 0px;
}
.tamaños-container .container .box .card-body {
  padding: 18px 8px;
  text-align: left;
}
.tamaños-container .container .box .card-body h5 {
  color: #1c7ed6;
  font-weight: 600;
  font-size: 1.1rem;
}
.tamaños-container .container .box .card-body p {
  color: #3b4f61;
  font-size: 14px;
  line-height: 1.4;
}
.tamaños-container .container .box .boton-1 {
  margin: 10px;
}
.tamaños-container .container .box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.formulario-container {
  background: #f8fcff;
  padding: 20px;
}
.formulario-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 8px;
  border-radius: 25px;
  padding: 30px;
}
.formulario-container .container .box-info {
  color: antiquewhite;
  display: grid;
}
.formulario-container .container .box-info h4 {
  text-align: left;
  color: #0064b9;
  font-weight: 800;
  font-size: 1.8rem;
}
.formulario-container .container .box-info .data h5 {
  color: #daa21b;
  font-size: 1.1rem;
  font-weight: 600;
}
.formulario-container .container .box-info .data p {
  color: #64748B;
  font-size: 0.9rem;
}
.formulario-container .container .box-info .redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #1c7ed6;
  margin-right: 6px;
  text-align: center;
  transition: all 300ms ease;
}
.formulario-container .container .box-info .redes a:hover {
  transform: scale(1.6);
}
.formulario-container .container form {
  background-color: #1c7ed6;
  border-radius: 16px;
  padding: 40px 8px;
}
.formulario-container .container form .input-box {
  padding: 8px;
}
.formulario-container .container form .input-box input {
  border: none;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #1c7ed6;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
}
.formulario-container .container form .input-box select {
  border: none;
  width: 40%;
  height: 40px;
  padding: 10px;
  color: #1c7ed6;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
}
.formulario-container .container form .input-box textarea {
  border: none;
  width: 100%;
  height: 130px;
  background-color: white;
  color: #1c7ed6;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.formulario-container .container form .input-box button {
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #daa21b;
  transition: 1s;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}
.formulario-container .container form .input-box button:hover {
  color: white;
  font-weight: 800;
  background-color: #ffc400;
  border: 2px solid #daa21b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.mapa-container {
  background: #daa21b;
  padding: 40px 10px;
}
.mapa-container h4 {
  text-align: left;
  color: white;
  font-weight: 800;
  font-size: 1.8rem;
}
.mapa-container .container iframe {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.info-container {
  background-color: #f8fcff;
  padding: 0px 8px;
}
.info-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 8px;
  border-radius: 25px;
  padding: 30px;
}
.info-container .container .box {
  padding: 16px 0px;
}
.info-container .container .box img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0px 0px;
}
.info-container .container .box h3 {
  color: #1c7ed6;
  padding-bottom: 24px;
}
.info-container .container .box iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.card2 {
  background-color: #daa21b;
  width: 100%;
  padding: 30px 0px;
}
.card2 h3 {
  color: #e6f4f1;
  text-align: center;
  padding: 10px 0px;
}
.card2 .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  padding: 40px 0px;
  width: 80%;
}
.card2 .container .card {
  padding: 12px;
  background-color: white;
  border-bottom: 8px solid #1c7ed6;
}
.card2 .container .card h5 {
  color: #1c7ed6;
  font-weight: 600;
  font-size: 1.6rem;
  padding-top: 10px;
}
.card2 .container .card p {
  padding-top: 10px;
  font-size: 14px;
}
.card2 .container .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.info-video-container {
  background-color: #f8fcff;
  padding: 10px 8px;
}
.info-video-container .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 8px;
  border-radius: 25px;
  padding: 30px;
}
.info-video-container .container .box {
  padding: 16px 0px;
}
.info-video-container .container .box h3 {
  color: #1c7ed6;
  padding-bottom: 24px;
}
.info-video-container .container .box iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.galeria {
  background-color: #f8fcff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 18px;
}
.galeria img {
  max-width: 310px;
  padding: 8px;
  border-radius: 8px;
}
.galeria img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.adopta {
  background-color: #f8fcff;
  padding: 40px 8px;
  width: 100%;
}
.adopta h3 {
  color: #1c7ed6;
  text-align: center;
  padding: 30px 0px;
}
.adopta .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid #1c7ed6;
  padding: 35px 15px 30px 10px;
  width: 95%;
}
.adopta .container .box {
  display: grid;
  align-content: center;
  justify-content: space-between;
}
.adopta .container .box ul {
  list-style: none;
  color: #1c7ed6;
  font-size: 14px;
}
.adopta .container .box ul li {
  padding: 12px 0px;
}
.adopta .container .box ul i {
  margin-right: 10px;
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .pie-pagina .grupo-1 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .pie-pagina .grupo-1 :first-child {
    grid-column-start: span 1;
  }
  .pie-pagina .grupo-1 :nth-child(2) {
    grid-column: 2/4;
  }
  .baños-container .container {
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .baños-container .container .first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .baños-container .container :nth-child(2) {
    grid-column: 2/3;
    grid-row: 3/1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  header .navbar .carrito {
    display: block;
    padding-left: 8px;
    color: #1c7ed6;
  }
  .portada-container {
    background-color: white;
  }
  .portada-container .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
  }
  .portada-container .container .box h1 {
    font-size: 3.2rem;
  }
  .pelu-container {
    margin: 40px 0px;
  }
  .pelu-container .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .pelu-container .container .box h3 {
    font-size: 2.5rem;
  }
  .pie-pagina .grupo-1 {
    grid-template-columns: 70px 100px auto auto auto;
    justify-content: space-evenly;
  }
  .pie-pagina .grupo-1 .box img {
    max-width: 100%;
  }
  .baños-container .container {
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .tamaños-container .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
  }
  .menu-container .container ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .info-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 8px;
  }
  .info-container .container .box {
    padding: 24px 0px;
  }
  .card2 {
    padding: 30px 8px;
  }
  .card2 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .info-video-container {
    padding: 30px 8px;
  }
  .info-video-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 8px;
  }
  .adopta .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  header .navbar .carrito {
    display: block;
    padding-left: 8px;
    color: #1c7ed6;
  }
  .portada-container {
    background-color: white;
  }
  .portada-container .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0px;
  }
  .portada-container .container .box h1 {
    font-size: 3.2rem;
  }
  .pelu-container {
    margin: 40px 0px;
  }
  .pelu-container .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .pelu-container .container .box h3 {
    font-size: 2.5rem;
  }
  .pie-pagina .grupo-1 {
    grid-template-columns: 70px 100px auto auto auto;
    justify-content: space-evenly;
    column-gap: 5%;
  }
  .pie-pagina .grupo-1 .box img {
    max-width: 100%;
  }
  .baños-container .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .tamaños-container .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
  }
  .menu-container .container ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .formulario-container .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .info-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 30px 8px;
  }
  .card2 {
    padding: 30px 8px;
  }
  .card2 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 8px;
  }
  .info-video-container {
    padding: 40px 8px;
  }
  .info-video-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 30px 8px;
  }
  .adopta .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
