// section galeria
.galeria{
    background-color: #f8fcff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 18px;

    img{
        max-width: 310px;
        padding: 8px;
        border-radius: 8px;
        
        &:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
        }
    }
}

.adopta{
    background-color: #f8fcff;
    padding: 40px 8px;
    width: 100%;

    h3{
        color: $cool-blue;
        text-align: center;
        padding: 30px 0px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr); ;
        column-gap: 16px;
        row-gap: 16px;
        background-color: #ffffff;
        border-radius: 18px;
        border: 1px solid $cool-blue;
        padding: 35px 15px 30px 10px;
        width: 95%;
        .box{
            display: grid;
            align-content: center;
            justify-content: space-between;
            

            ul{
                list-style: none;
                color: $cool-blue;
                font-size: 14px;
                li{
                    padding: 12px 0px;
                }
                i{
                    margin-right:10px;
                }
            }
        }
    }
}