.animales-container{
    background-color:#00afff;
    .container{
        padding: 30px 10px;
        .row{
            h3{
                text-align: center;
                padding-top: 15px;
                color: #e6f4f1;;
                font-size:2rem;
            }
            p{
                text-align: center;
                color: #e6f4f1;}

            .col-12,
            .col-md-6{ 
                a{
                    img{
                        border-radius: 50px 15PX;
                        margin-top: 20px;
                        width: 100%;
                        height: auto;
                    &:hover{
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        border-radius: 50px 50px;
                        opacity: 0.9;
                    }
                    }
                }        
            }
        }
    }
 }