.animales-container{
    background-color:#3e90ea;
    .container{
        padding: 0px 8px;
        .row{
            align-items: center;
            .col-12,
            .col-md-6{ 
                align-content: flex-end;
                text-align: center;
                h3{
                    padding-top: 15px;
                    color: #e6f4f1;
                    font-size: 2.4rem;
                }
                p{
                    color: #e6f4f1;}
                a{
                    img{
                      max-width: 70%;
                        height: 0%;
                    &:hover{
                            transform: translateX(28px);
                        }
                    }
                }        
            }
        }
    }
 }
