//beneficios-container
.beneficios-container{
    width: 100%; 
    margin-top: 2rem;

    .container{
        padding:1rem 1rem;

        .row{
            justify-content: center;
            text-align: center;

            .col-sm{
                background-color: #daa21b;
                border-radius: 15px;
                margin: 4px;
                
                img{
                    width: 4rem;
                    margin: 4px;
                    border-radius: 100px;
                    margin:30px 0px 20px 0px;

                }
                h4{
                    font-size: 1.30rem;
                    color: #e6f4f1;
                    font-weight: 700;
                }
                p{
                    font-size: 14px;
                    color: #dde9e6;
                }

            }
        }

    }
   
}