//HTML -contactos
//formulario
.formulario-container{
    background:#f8fcff;
    padding: 20px;

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr); ;
        column-gap: 16px;
        row-gap: 8px;
        border-radius: 25px;
        padding: 30px;
        .box-info{
            color: antiquewhite;
            display: grid;
            h4{
                text-align: left;
                color:#0064b9;
                font-weight: 800;
                font-size: 1.8rem;
            }
            .data{
                
                h5{
                color: #daa21b;
                font-size: 1.1rem;
                font-weight: 600;
                }
                p{
                    color: #64748B;
                    font-size: 0.9rem;

                }
            }
            .redes{
                a{  
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    color: #1c7ed6;
                    margin-right: 6px;
                    text-align: center;
                    transition: all 300ms ease;
                        
                    &:hover{
                        transform: scale(1.6);
                    }
                    
                }
            }
        }
        form{
            background-color:#1c7ed6;
            border-radius: 16px;
            padding: 40px 8px;
            .input-box{
                padding: 8px;
                input{
                    border: none;
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    color: #1c7ed6;
                    border-radius: 4px;
                    font-size: 14px;
                    background-color: white;
                }
                select{
                    
                    border: none;
                    width: 40%;
                    height: 40px;
                    padding: 10px;
                    color: #1c7ed6;
                    border-radius: 4px;
                    font-size: 14px;
                    background-color: white;
                }
                textarea{
                    border: none;
                    width: 100%;
                    height: 130px;
                    background-color: white;
                    color: #1c7ed6;
                    padding: 10px;
                    border-radius: 4px;
                    font-size: 14px;

                }
                button{
                    border: none;
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    color: white; 
                    background-color:#daa21b;
                    transition: 1s;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 18px;
                    &:hover{
                        color: white;
                        font-weight: 800;
                        background-color:#ffc400;
                        border: 2px solid #daa21b;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
                    }
                }
            }
        }
    }
}
.mapa-container{
    background:#e6f4f1;
    padding: 40px 10px;
    h4{
        text-align: left;
         color:#0064b9;
        font-weight: 800;
        font-size: 1.8rem;
        }
    .container{
        
        iframe{
            width:100%;
            height: 50%;
            border-radius: 18px;
            border:2 solid #0b725c;
        }
    }
}