//header
header{
    border-bottom: 1px solid #f8f9fa;
    background-color: white;
    width: 100%;
    .dato-container{
        background-color:#b3d300 ;
        padding: 10px 0px;
        text-align: center;
        height: 2.5rem;
        font-family: "Sora", sans-serif;
        font-weight: 700;
        p{
            color: #26292e;
            text-align: center;
        }
        i{
            background-color: aqua;
            font-size: 22px;
            border: 1px solid #6e6e79 ;
        }
    }
    .navbar{
        .nav-item{
            &:hover{
                border-bottom: 2px solid $cool-blue;
            }
        }
        .color-gris{
            color:#6e6e79;
        }
        .color-active{ 
        color: $cool-blue;
        }
        .carrito{
            display: none;
        }
    }
}