//header
header{
    border-bottom: 1px solid #f8f9fa;
    background-color: white;
    width: 100%;
    .dato-container{
        background-color:#1c7ed6;
        text-align: center;
        height: 3rem;
        font-family: "Sora", sans-serif;
        font-weight: 800;
        p{
            color: #e6f4f1;
        }
    }
    
}