@media only screen and (min-width:1280px){
    //section portada
   .portada-container{
    background-color: white;
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0px;
        .box{
         h1{
            font-size:3.2rem;
        }
        }    
    }
}
    //section animales

    //section pelu
    .pelu-container{
    margin: 40px 0px;
    .container{ 
        grid-template-columns: repeat(2, 1fr);
        .box{
         h3{
            font-size:2.5rem;
        }
        }    
    }
    }
    //section pie-pagina
    .pie-pagina{
        .grupo-1{
            grid-template-columns: 80px 200px 200px 200px 200px;
            justify-content: space-evenly;
            column-gap: 5%;
            .box{
                img{
                    max-width: 100%;
                }
            }
        }    
    }

    //html-peluqueria
    .baños-container{
        .container{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .tamaños-container{
        .container{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            justify-content: center;
        }
    }

    //html menu gatos
    .menu-container{
        .container{
            ul{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
    //contacto
    .formulario-container{
        .container{
            display: grid;
            grid-template-columns: 2, 1fr;
            grid-template-rows: repeat(1, 1fr);
        }
    }
}