.menu-conten{
    display: grid; 
    font-size: 30px;
    text-align: center;
    background-color: aqua;
    .box{
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 8px;
        a{
        color: rgb(209, 24, 24);
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        
        }
    }
}