//peluquería
.presentacion{
    background-color: #f8fcff;
}

.baños-container{
    background-color: #f8fcff;
    padding: 0px 8px;

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr); ;
        column-gap: 16px;
        row-gap: 16px;
        
        .box{
            display: grid;
            align-content: end;
            justify-content: center;

            img{
                max-width: 100%;
                height: auto;
            }
            ul{
                list-style: none;
                color: #1c7ed6;
                font-size: 16px;
                li{
                    line-height: 2.3;
                }
                i{
                    margin-right:10px;
                }
            }
        }
    }

}
.tamaños-container{
    background-color: #f8fcff;
    padding: 40px 8px;

    h4{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 1.6em;
        color: #525a7a;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); ;
        column-gap: 16px;
        row-gap: 18px;
            
            
        .box{
            border: 2px solid #e7f5ff;
            border-radius: 18px;
            background-color: white;
            justify-content: center;
            text-align: center;
    
            img{
                width: 100%;
                height: auto;
                border-radius: 16px 16px 0px 0px;
            }
            .card-body{
                padding: 18px 8px;
                text-align: left;
                h5{
                    color: #1c7ed6;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                p{
                    color: #3b4f61;
                    font-size: 12px;
                    line-height: 1.4;
                }
                }
                .boton-1{
                    margin: 10px;
                }
            &:hover{
                 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
            }
        }
    }
}
// grid-template-columns: 
//         repeat(auto-fill, minmax(180px, 1fr));