.menu-container{
    color: aqua;
    .container{
        ul{ 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 18px;
            list-style: none;
            margin-left: -30px;
            li{  
                border: 2px solid #dbe4ff;
                border-radius: 8px;
                text-align: center;
                
                
                a{  
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1rem;
                }
                &:hover{
                    background-color:#d0ebff;
                }
            }
        }
    }
}