.menu-container{
    background: #f8fcff;
    padding-bottom: 20px;
    color: rgb(211, 233, 233);
    .container{
        ul{ 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 18px;
            column-gap: 16px;
            row-gap: 8px;
            list-style: none;
            margin-left: -30px;
            li{  
                border: 2px solid #dbe4ff;
                border-radius: 8px;
                text-align: center;
                a{  
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1rem;
                }
                &:hover{
                    color: white;
                    background: #dbe4ff;
                    border: 2px solid $cool-blue;
                    
                }
            }
        }
    }
}