*{  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
//color
$cool-blue: #1c7ed6;
$cool-cyan: #00afff;
$cool-cyanclaro: #e6f4f1;
$cool-orange: #daa21b;

//fonts google
.sora-uniquifier {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  } 
h2{
  font-weight: 700;
  font-size: 40px;
  font-weight: 700;
}
h3{
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
p{font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #64748B;
}