//fonts google
*{  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sora-uniquifier {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  } 

h3{
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 2.441rem;
}
p{font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #334255;
}